{% extends "errors/_base.html" %}
{% block page_title %}Немає доступу{% endblock %}
{% block error_illustration %}<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><polygon class="polygon" points="100,20 170,65 170,135 100,180 30,135 30,65" fill="none" stroke="#8B5CF6" stroke-width="4"></polygon><polygon class="polygon polygon-delay" points="60,90 100,65 140,90 140,130 100,155 60,130" fill="none" stroke="#C6FF3D" stroke-width="4"></polygon></svg>{% endblock %}
{% block error_code %}Помилка 403{% endblock %}
{% block error_title %}Немає доступу{% endblock %}
{% block error_message %}У вас недостатньо прав для перегляду цієї сторінки. Якщо це помилка, зверніться до адміністратора.{% endblock %}